<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">

	    <title>About Us : Aling Nena </title>

	    <!-- Bootstrap core CSS -->
	    <link href="/css/bootstrap.min.css" rel="stylesheet">

	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>
	<body>
		<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      	<div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href=" ">Aling Nena's</a><!-- this is where you set the navigation title -->
        </div>
        <div class="collapse navbar-collapse"><!-- collapse allows for this navbar to be used in mobile devices -->
          <ul class="nav navbar-nav"><!-- this is the list of navigation options in your navbar -->
            <li><a href="/">Home</a></li>
			<li><a href="/products">Products</a></li>
			<li  class="active"><a href="/about">About Aling Nena</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <br/><br/><br/>
    <div>
      <br/>
      <h1>Aling Nena</h1>
      <h4>In 1993, Aling Nena's husband, Mang Jun, set up a small sari-sari store at the center of their town - Mabuhay. He named the store after his wife's name, as Aling Nena's Sari-sari store. Through his hardwork, the store expanded very quickly and their income increased a lot.</h4>
      <h4>During the year 2008, Mang Jun had been discovered with health problems, and was told to stay and rest at home. For this reason, Aling Nena decided to take up her husband's role and take care of the store. Through the help of her daughter, she was able to expand their store into a large modern store, but the name was remained as before. </h4>
      <h4>The store was located at the center of the Mabuhay Town, a place where everyone will pass by while they go around the town. Aling Nena is a very generous middle-aged woman who never fails to smile to her customer. The sari-sari store is the largest and most popular store in the town, and everyone likes to buy things there. :) </h4>
      <h4>PS: Most recently, Aling Nena was suggested to put their store online so that it will be easier to access for the customers. She asked her daughter to do it for her since she had knowledge about developing websites. But her daughter didn't like the work, so in the middle of developing the website, she leaved for Canada to visit her friend and told Aling Nena to find another web developer since she wouldn't be back for the mean time. Aling Nena was angry about that, but couldn't do anything.</h4>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
	</body>
</html>