<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Carlos Alvarez, Theme designer & developer living in Madrid, Spain.">
    <meta name="author" content="Carlos Alvarez">
    <link rel="shortcut icon" href="ico/favicon.png">

    <title>About Us : Aling Nena</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">
    
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>

    <link href = "/css/mystyle.css" rel="stylesheet">
    

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <strong /><a class="navbar-brand thick" href=" " >Aling Nena's  <img src = "/img/logo.png" height = "40px"></a><!-- this is where you set the navigation title -->
        </div>
        <div class="collapse navbar-collapse"><!-- collapse allows for this navbar to be used in mobile devices -->
          <ul class="nav navbar-nav"><!-- this is the list of navigation options in your navbar -->
            <li><a href="/">Home</a></li>
            <li><a href="/products">Products</a></li>
            <li><a class="active" href="/about">About Aling Nena</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2 w">
        <div>
          <br />
          <h1>Aling Nena</h1>
          <img src = "/img/logo.png" height = "300px">
          <br /><br />
          <div id = "bg">
          <h4 id = "text">In 1993, Aling Nena's husband, Mang Jun, set up a small sari-sari store at the center of their town - Mabuhay. He named the store after his wife's name, as Aling Nena's Sari-sari store. Through his hardwork, the store expanded very quickly and their income increased a lot.</h4>
          <h4 id = "text">During the year 2008, Mang Jun had been discovered with health problems, and was told to stay and rest at home. For this reason, Aling Nena decided to take up her husband's role and take care of the store. Through the help of her daughter, she was able to expand their store into a large modern store, but the name was remained as before. </h4>
          <h4 id = "text">The store was located at the center of the Mabuhay Town, a place where everyone will pass by while they go around the town. Aling Nena is a very generous middle-aged woman who never fails to smile to her customer. The sari-sari store is the largest and most popular store in the town, and everyone likes to buy things there. :) </h4>
          <h4 id = "text">PS: Most recently, Aling Nena was suggested to put their store online so that it will be easier to access for the customers. She asked her daughter to do it for her since she had knowledge about developing websites. But her daughter didn't like the work, so in the middle of developing the website, she leaved for Canada to visit her friend and told Aling Nena to find another web developer since she wouldn't be back for the mean time. Aling Nena was angry about that, but couldn't do anything.</h4>
        </div>
        </div>
      </div>
    </div>

    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2 w tooltip-demo">
        <a data-toggle="tooltip" title="Facebook" href="http://facebook.com/"><i class="fa fa-facebook"></i></a>
        <a data-toggle="tooltip" title="Twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
        <a data-toggle="tooltip" title="Premium Themes" href="https://wrapbootstrap.com/user/Basicoh"><i class="fa fa-briefcase"></i></a>
        <a data-toggle="tooltip" title="Free Themes" href="http://BlackTie.co"><i class="fa fa-heart"></i></a>
        <a data-toggle="tooltip" title="Blog" href="#"><i class="fa fa-comment"></i></a>
        <a data-toggle="tooltip" title="Email Me!" href="http://mail.yahoo.com/"><i class="fa fa-envelope"></i></a>
        <a data-toggle="tooltip" title="Newsletter" href="http://eepurl.com/"><i class="fa fa-coffee"></i></a>
      </div>
    </div>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script>
    $('.tooltip-demo').tooltip({
      selector: "[data-toggle=tooltip]",
      container: "body"
    })
  </script>


    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script type="text/javascript" src="/js/jquery.backstretch.min.js"></script>
    <script>
        $.backstretch("/img/bg.jpg", {speed: 500});
    </script>
	</body>
</html>