.nav, .navbar-nav
{
	float: right;
}

li
{
	padding-left: 50px;
	padding-right:50px;
	padding-top:10px;
	padding-bottom:10px;
}

.navbar
{
	opacity:1;
	filter:alpha(opacity=100);
}

#banner
{
	margin-top:30px;
	margin-bottom:-50px;
}

#text
{
	font-weight:bold;
	font-size:20px;
	text-indent:40px;
	text-align:justify;
	
}

#bg
{
	text-align:center;
	margin:0 auto;
	padding:20px;
	width:900px;
	background-color:#FFCCCC;
	opacity:0.4;
	filter:alpha(opacity=40);
}

.myform
{
	text-align:center;
}
